:root {}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Solway&display=fallback');

* {
    box-sizing: border-box;
  }

body {
  font-family: 'Lato', sans-serif;
  background-color:white;
  color: darkolivegreen;

}


table {
    margin: 40px auto;
    width: 90%;


}

th {
    padding: 10px 20px;
    text-align: left;
}

td {
    padding: 10px 20px;
    background-color:  rgba(85, 107, 47, 0.1);

}























/* ================= RESPONSIVE MEDIA QUERIES ================= */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

} 

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}