/* :root {
} */


/* request to Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Phudu:wght@300&display=swap');


* {
	box-sizing: border-box;
}

body {
	font-family: "Lato", sans-serif;
	color: rgb(50, 104, 145);
}


.container {
  width: 1000px;
  margin-top: 20px;
  border: 1px solid rgba(128, 128, 128, 0.1)
 } 
     
 .header {
	background-color: rgb(50, 104, 145);
}

h1 {
	text-align: center;
	color: white;
  font-size: 60px;
	font-family: "Lobster", "Georgia", serif;
}


/* main {
} */

/* ==================== Ingredients - photo & text ====================  */
 aside {
  /* background-color: rgba(50, 104, 145, 0.1); */
  margin-top: 30px;
 }

 article {
  padding: 5px;
  /* padding-left: ; */
  /* background-color: rgba(50, 104, 145, 0.1); */
 }

 /* <h3 class="text-center" id="recipeName">Spinach lasagne</h3> */

#photo {
  width: 300px;
  height: 300px ;
  border: 1px solid lightgray;
	border-radius: 15px 0 0 ;
}

ul.ingredients {
  list-style-type: none;
  padding: 0; 
  margin: 0; 
}


/* ======================== Recipe Selection FORM ========================  */
form {
	margin: 30px 0 20px;
	border: 1px solid lightgray;
	border-radius: 0 15px 0 0;
}

.formhead {
	background-color: rgba(50, 104, 145, 0.1);
	width: 100%;
	height: 50px;
  border-radius: inherit;
}

legend {
	color: rgb(50, 104, 145);
}

.form-group {
	padding: 0 35px;
}

.form-control{
  background-color: rgba(50, 104, 145, 0.05);
  height: 50px; 
  color: rgba(50, 104, 145); /* dropdown legend */
  /* dropdown legend */
  margin-top: 30px;
}

input::placeholder {
  color:rgba(50, 104, 145, 0.3) !important;
}

/* hack to remove default Bootstrap input styling */
input:-webkit-autofill,
input:-webkit-autofill:focus {
	transition: background-color 600000s 0s, color 600000s 0s;
}

option {
  color:rgba(50, 104, 145); 
}

/* option:checked, option:hover {
  background-color: red !important;   
} */

.dropdown-content li.active, .dropdown-content li:hover {
  background-color: red;
}

.btn {
	border: 1px solid lightgray;
	color: rgb(50, 104, 145);
	background-color: rgba(50, 104, 145, .2);
  background-color: rgba(255, 228, 196, 0.5);
}
/* =============================== Recipe Directions ===============================  */







/* =============================== Videos ===============================  */

#recipeVideos {
  margin-top: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.articleHead {
	background-color: rgba(50, 104, 145, 0.1);
}

#videoResult{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

#videoResult div{
  padding:1rem !important;
  margin-bottom: 1rem !important;
  width:max(50%,300px);
}

#videoResult p{
  color: rgb(84, 86, 98) !important;
}

#videoResult {
padding-bottom: 20px;
}

iframe {
  border: 1px solid red;
  margin-top: 20px;
}

.btn-modal {
	margin: 40px 0;
}

/* ================================ footer ================================ */

footer {
	margin: 30px 0 40px;
	text-align: center;
}

footer a {
	color: rgb(50, 104, 145);
	font-weight: bold;
}

.credits {
	font-size: 16px;
}

#creditLinks {
	font-weight: bold;
}

/* ======================== RESPONSIVE MEDIA QUERIES ======================== */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  ul.ingredients {
    /* list-style-type: none; */
    list-style: none inside url("../../images/greenCheck-15.png");
    padding: 0; 
    margin: 0; 
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
