:root {}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Solway&display=fallback');

* {
    box-sizing: border-box;
  }

body {
  font-family: 'Lato', sans-serif;
  color:rgb(50, 104, 145);
}

.container-fluid {
  margin-top: 20px;
  margin-bottom: 40px;
}

.container {
  width: 800px;
  margin-top: 20px;
 } 

/* hack to remove default Bootstrap input styling */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.card {
    background-color:white;
  }

.header {
  background-color:rgb(50, 104, 145);
  }

h1 {
  text-align: center;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

legend {
  color:rgb(50, 104, 145);
}

.formhead {
  background-color:rgba(50, 104, 145, 0.1);
  width: 100%;
  height: 50px;
  
}

form {
  margin: 30px -15px 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.form-group {
  padding: 0 15px;
}

.btn {
  border: 1px solid lightgray;
  color:rgb(50, 104, 145);
  background-color:rgba(50, 104, 145, 0.1);
}

#topArticles {
  margin-top: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.articleHead {
  background-color:rgba(50, 104, 145, 0.1);
}

#searchResult{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
}

#searchResult div{
  padding:1rem !important;
  margin-bottom: 1rem !important;
  width:max(50%,300px);
}

#searchResult p{
  color: rgb(84, 86, 98) !important;
}

#searchResult {
padding-bottom: 20px;
}

footer {
  margin: 30px 0 40px;
  text-align: center;
}

footer a {
  color:rgb(50, 104, 145);
  font-weight: bold;
}

.credits {
  font-size: 16px ;
}  

#creditLinks {
  font-weight: bold;
}

.btn-modal {
  margin: 40px 0 ;
}























/* ================= RESPONSIVE MEDIA QUERIES ================= */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

} 

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}